
{{> header }}

<h1>Change user account password</h1>

<p class="lead">Change user account password</p>

{{> show_flash_messages }}

<!-- <form class="form-horizontal" method="POST" action="/users/add/" id="add_new_user_form"> -->
<form class="form-horizontal" method="POST" action="/users/edit/user_change_password" id="user_change_password">

{{> user_password }}

  <div class="form-group">
    <div class="col-md-offset-3 col-md-3">
      <button type="submit" class="btn btn-success pull-right">Save changes</button>
    </div>
  </div>
</form>

{{> footer }}
